:root {
  --vp-c-brand-1: #5086a1;
  --vp-c-brand-4:rgba(255, 255, 0, 0.39);
}
mark {
  --vp-mark-text: currentcolor;
  --vp-mark-bg: transparent;
  --vp-mark-bg-shift: 0lh;
  --vp-mark-linear-color: var(--vp-c-brand-4);
  --vp-mark-bg-image: linear-gradient(to right, var(--vp-mark-linear-color) 50%, transparent 50%);
  animation: var(--vp-mark-animation, mark-highlight 1.5s 0.5s forwards);
}